# system file
traj
confidence
test
ohch4.f*
.fuse_hidden*
fort*
QCAT

# my file
*.xyz
*.opju
*.tga
*.txt
*.pdb
*.png
*.pptx
*.log
*.dat
*.ai
*.csv
*.xlsx

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
